






<div class="modal_1" id="openModal-1">
  <div class="modal_1-window">
    <center>
    <h3 style="font-family: bankgothic; font-weight: 900; font-size: 50px;">
      BURKUT
    </h3>
    </center>
      <%= link_to constructions_path, class:"btn btn-primary", style:"font-family: bankgothic; font-weight: 900; font-size: 15px; width: 300px;"  do %>
        <%= image_tag(@logo_main.logo, style:"height: 3.8rem;", align:"left") %>
        <%= t('navbar.construction')%>
      <% end %>

      <%= link_to factories_path, class:"btn btn-danger", style:"font-family: bankgothic; font-weight: 900; font-size: 15px; width: 300px;" do %>
        <%= image_tag(@logotype.logo, style:"height: 3.8rem;", align:"left") %>
        <%= t('navbar.confectionery_factory')%>
      <% end %>
      <hr>
      <center>
      <%= link_to url_for(locale: :tm), :class => "navi" do %>
        <%= image_tag "/assets/tm.png", :class => "flag" %>
      <% end %>
      <%= link_to url_for(locale: :en), :class => "navi" do %>
        <%= image_tag "/assets/en.png", :class => "flag" %>
      <% end %>
      <%= link_to url_for(locale: :ru), :class => "navi" do %>
        <%= image_tag "/assets/ru.png", :class => "flag" %>
      <% end %>
      <center>
        <% if current_user == nil %>
    <%= link_to new_user_session_path, class:'btn btn-success' do %>
      Войти
    <% end %>

  <% end %>
  <% if current_user != nil %>
  <%= button_to destroy_user_session_path, method: :delete, class:'btn btn-danger' do %>
    Выйти
  <% end %>
<% end %>
  </div>
  <div class="overlay_1">

  </div>
</div>
