
<div class="container">
  <%= link_to root_path, class:"navbar-brand" do %>
    <b style="font-family: Bold Script; font-weight: 900; font-size: 35px; width: 300px; color: #AC172B;">BURKUT</b>

  <% end %>
  <%= link_to factories_path, class:"navbar-brand" do %>

    <span style="font-family: BubbleGum; font-size: 15px;"> <%= t('navbar.confectionery_factory').upcase %></span>
  <% end %>

</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background: #AC172B;" style="z-index: 9;">
  <div class="container">
    <%= link_to factories_path, class:"navbar-brand text-white link-font" do %>
      <%= t('navbar.home') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-danger">
          <%= link_to t('navbar.products'), products_path, class:"nav-link text-danger link-font" %>

        </li>
        <li class="nav-item text-white">
          <%= link_to t('navbar.contact_us'), factorycontacts_path, class:"nav-link text-white link-font" %>

        </li>
        <!--<li class="nav-item">
          <a class="nav-link text-white link-font" href="#">Link</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white link-font">Disabled</a>
        </li>-->
        <li class="nav-item">
          <a href="#" class="nav-link link-font" data-bs-target="#lang" data-bs-toggle="modal">
            <span class="fa fa-dribbble text-white" style="font-size: 20px;">
              <i class="sr-only">Dribbble</i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white link-font"><%= locale.upcase %></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
