<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center><h1 style="font-family: bankgothic;">ПАНЕЛЬ АДМИНИСТРАТОРА</h1></center>
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-6">
        <center><h5>Продукция</h5></center>
        <%= form_for :product, url: product_path(@product), method: :put do |f| %>
        <div class="row">
          <div class="col-lg-4">
            <%= f.label 'Название на русском', class:"form-label" %>
            <%= f.text_field :title_ru, class:'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4">
            <%= f.label 'название на английском', class:"form-label" %>
            <%= f.text_field :title_en, class:'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4">
            <%= f.label 'Название на туркменском', class:"form-label" %>
            <%= f.text_field :title_tm, class:'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4">
            <%= f.label 'Название на русском', class:"form-label" %>
            <%= f.text_field :desc_ru, class:'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4">
            <%= f.label 'Название на английском', class:"form-label" %>
            <%= f.text_field :desc_en, class:'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4">
            <%= f.label 'Название на туркменском', class:"form-label" %>
            <%= f.text_field :desc_ru, class:'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4">
            <%= f.label 'Категория', class:"form-label" %>
            <%= f.select :category_id, options_for_select(@categories.collect{ |category| [category.title_ru, category.id] }, @product.category_id), {}, {class: "form-control form-control-sm"} %>
          </div>
          <div class="col-lg-4">

          </div>
          <div class="col-lg-4">
            <%= f.label 'Название на русском', class:"form-label" %>
            <%= f.file_field :picture, class:'form-control form-control-sm' %>
          </div>
        </div>
        <br>
        <center><%= f.submit 'Редактировать', class:'btn btn-success', style:"--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %></center>
        <% end %>
        <hr>
      </div>
      <div class="col-lg-3">

      </div>
    </div>
  </body>
</html>
