<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h1 style="font-family: bankgothic;">ПАНЕЛЬ АДМИНИСТРАТОРА</h1>
    </center>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <%= form_for :logo, url: logo_path(@logo), method: :put do |f| %>
            <%= f.label 'Выберите логотип *', class:"form-label" %>
            <%= f.file_field :logo, class:'form-control'%>
            <%= image_tag(@logo.logo, style:'width: 40px;') %>
            <br>
            <%= f.label 'Строительство', class:"form-label" %>
            <%= f.check_box :main %>
            <%= f.submit 'Изменить', class:'btn btn-success' %>
          <% end %>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
    </div>

  </body>
</html>
