

<section data-bs-version="5.1" class="menu cid-s48OLK6784" once="menu" id="menu1-h">

  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container-fluid">
          <div class="navbar-brand">
              <span class="navbar-logo">
                <%= link_to root_path, class:"nav-link", style:"font-family: bankgothic; font-weight: 900; font-size: 30px; color: white;" do %>
                  BURKUT
                <% end %>
                <%= link_to factories_path, class:"nav-link", style:"font-family: bankgothic; font-weight: 900; font-size: 20px; color: blue;" do %>
                  <img src="/factory/assets/images/LOGO.png" alt="Mobirise Website Builder" style="height: 3.8rem;">
                <% end %>
                  <!--<img src="assets/images/logo-121x89.png" alt="Mobirise Website Builder" style="height: 3.8rem;">-->

          </span>


          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <%= link_to factories_path, class:"nav-link", style:"font-family: bankgothic; font-weight: 900; font-size: 15px; color: white;" do %>
              <%= t('navbar.confectionery_factory')%>
            <% end %>
              <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item active">
                  <%= link_to constructions_path, class:"nav-link text-white link display-4" do %>
                    <%= t('navbar.construction.').upcase %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to factories_path, class:"nav-link link display-4" do %>
                    <%= t('navbar.factory.').upcase %>
                  <% end %>
                </li>
              </ul>


          </div>
      </div>
  </nav>

</section>
