

<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/slider/itc-slider.css">
    <script src="/slider/itc-slider.js" defer></script>


    <style>
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  }

  .itc-slider {
    max-width: 1200px;
    margin: 0 auto;
  }

  .itc-slider-items {
    counter-reset: slide;
    --gap: 0.8455rem;
    gap: var(--gap);
  }

  .itc-slider-item {
    flex: 0 0 auto;
    width: 100%;
    counter-increment: slide;
    height: 365px;
    position: relative;
  }

  @media (min-width: 768px) {
    .itc-slider-item {
      width: calc(50% - var(--gap) / 2);
    }
  }

  @media (min-width: 992px) {
    .itc-slider-item {
      width: calc(33.3333333333% - var(--gap) * 2 / 3);
    }
  }

  .itc-slider-item::before {

    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    display: block;
  }


</style>


</head>
<body >
  <%= render 'factories/navbar/navbar' %>
  <%= render 'lang/lang' %>
  <%= render 'factories/carousel' %>

  <div class="parallax">

      <br>
      <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded text-white" style="background: RGB(139, 69, 19, 0.5);">
        <center>
        <span style="font-size: 25px;"><%= @factory_service %></span>
        <h1>
          <b style="font-family: Bold Script; font-weight: 900; font-size: 35px; width: 300px; color: white;">
            <%= @factoryabout.name %>
          </b>
        </h1>
        </center>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-6">
            <center>
              <%= image_tag(@factoryabout.logo) %>
            </center>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <%= simple_format @factory_about %>
          </div>


        </div>
      </div>


        <div class="container-fluid shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="background: RGB(128, 0, 0, 0.5);">
          <center>
            <span class="text-white" style="font-size: 25px;"><%= t('factory.sertificates').upcase %></span>
          </center>

          <%= render 'certificates' %>
        </div>
<br>



  </div>
  <div class="sticky-top" style="background: #AC172B; z-index: 8;">
    <center><br><br>
      <b style="font-family: Bold Script; font-weight: 900; font-size: 35px; width: 300px; color: white;">BURKUT - </b>
      <b style="font-family: ArbatC; font-size: 30px; color: white;">
        <%= @motto.title_ru if params[:locale] != true and params[:locale] != 'en' and params[:locale] != 'tm' and params[:locale] != 'ru' %>
        <%= @motto.title_ru if params[:locale] == 'ru' %>
        <%= @motto.title_en if params[:locale] == 'en' %>
        <%= @motto.title_tm if params[:locale] == 'tm' %>
      </b>
    </center>
    <center style="font-family: ArbatC; font-size: 30px; color: white;">
      <b style="color: red;">|></b><%= link_to t('factory.our_production'), products_path, class:'btn btn-danger' %><b style="color: red;"><|</b>
    </center>
    <br>
  </div>
  <div class="parallax2">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container">

      <div class="itc-slider" data-slider="itc-slider" data-loop="true" data-autoplay="true" style="z-index: 9999909999;">
        <div class="itc-slider-wrapper" style="background: rgba(76, 175, 80, 0)">
          <div class="itc-slider-items">
            <% @products.each do |product| %>

                <div class="itc-slider-item">

                  <center>
                    <%= link_to product_path(product), style:'text-decoration: none;' do %>
                      <div class="rounded" style="background: #AC172B;">
                        <h1 style="font-family: tilda-script-regular; color: white;"><%= product.title_ru %></h1>
                      </div>
                      <%= image_tag(product.picture, style:'width: 70%;') %>
                    <% end %>
                  </center>

                </div>

            <% end %>
          </div>
        </div>
        <button class="itc-slider-btn itc-slider-btn-prev"></button>
        <button class="itc-slider-btn itc-slider-btn-next"></button>
      </div>

    </div>
    <%= render 'footer' %>
  </div>




</body>
