<head>


  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%= render '/contacts/navbar/navbar' %>
  <%= render 'lang/lang' %>
  <%= render 'projects/modal' %>
  <section class="hero-wrap hero-wrap-2" style="background-image: url(<%= rails_blob_url(@header_picture.header_picture)%>);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
          <p class="breadcrumbs mb-2">
            <span class="mr-2">
              <%= link_to constructions_path do %>
                <%= t('navbar.home') %>
                <i class="ion-ios-arrow-forward"></i>
              <% end %>

            </span> <span><%= t('navbar.contacts') %><i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-0 bread"><%= t('navbar.contact_us') %></h1>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters mb-5">
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">

                  <h3 class="mb-4"><%= t('contact.write') %></h3>
                  <div id="form-message-warning" class="mb-4"></div>
                  <!--<div id="form-message-success" class="mb-4">-->
                    <!--Your message was sent, thank you!-->


                    <% flash.each do |type, msg| %>
                      <div class="alert alert-danger">
                        <center><%= msg %></center>
                      </div>
                    <% end %>


                <%= form_for @contact do |f| %>
                  <!--</div>-->
                  <!--<form method="POST" id="contactForm" name="contactForm" class="contactForm">-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <!--<label class="label" for="name">Full Name</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name">-->
                          <%= f.label t('contact.name') %>
                          <%= f.text_field :name, class:'form-control', placeholder: t('contact.name')%>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <!--<label class="label" for="email">Email Address</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email">-->
                          <%= f.label t('contact.mail') %>
                          <%= f.text_field :email, class:'form-control', placeholder: t('contact.mail')%>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <!--<label class="label" for="subject">Subject</label>
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">-->
                          <%= f.label t('contact.sales_phone') %>
                          <%= f.text_field :phone, class:'form-control', placeholder: t('contact.sales_phone'), value:'+'%>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <!--<label class="label" for="#">Message</label>
                          <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>-->
                          <%= f.label t('contact.message') %>
                          <%= f.text_area :message, class:'form-control', placeholder: t('contact.message'), rows:"6" %>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <!--<label class="label" for="#">Message</label>
                          <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>-->
                          <%= f.file_field :file, class:'form-control', type:'file', id:'formFileMultiple', multiple: true %>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.submit 'Отправить', class:'btn btn-primary'%>
                          <!--<input type="submit" value="Send Message" class="btn btn-primary">-->
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  <!--</form>-->
                </div>
              <% end %>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
              <div id="map">
                <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= @key %>&lang=ru_RU" type="text/javascript"></script>

                <script async src="/js/ymaps_const.js"></script>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                  <p><span><%= t('contact.address')%>
                          <%= @contact_detail_construction.address_ru if params[:locale] != true and params[:locale] != 'en' and params[:locale] != 'tm' and params[:locale] != 'ru' %>
                          <%= @contact_detail_construction.address_ru if params[:locale] == 'ru' %>
                          <%= @contact_detail_construction.address_en if params[:locale] == 'en' %>
                          <%= @contact_detail_construction.address_tm if params[:locale] == 'tm' %></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p><span><%= t('contact.phone')%></span>
                    <%= phone_to '+' + "#{@contact_detail_construction.phone1}" %>;
                    <%= phone_to '+' + "#{@contact_detail_construction.phone2}" %>;
                    <%= phone_to '+' + "#{@contact_detail_construction.phone2}" %>;<br>
                    <%= phone_to '+' + "#{@contact_detail_construction.phone2}" %> - <%= t('contact.fax')%>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">@contact_detail_construction
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p><span>Emails: </span><%= mail_to @contact_detail_construction.email1 %>; <%= mail_to @contact_detail_construction.email2 %></p>

                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                  <p><span>Website:</span> <a href="#">BURKUT.BIZ</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
</body>
