<head>


  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="/dist/css/chocolat.css" />
<script type="text/javascript" src="/dist/js/chocolat.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>

<script src="/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/js/google-map.js"></script>
<script src="/js/main.js"></script>





</head>
<body>
  <%= render 'projects/navbar/navbar' %>
  <%= render 'projects/modal' %>
  <section class="hero-wrap hero-wrap-2" style="background-image: url(<%= rails_blob_url(@project_image)%>);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
          <p class="breadcrumbs mb-2">
            <span class="mr-2">
              <%= link_to constructions_path do %>
                <%= t('navbar.home') %>
                <i class="ion-ios-arrow-forward"></i>
              <% end %>

            </span>
            <%= link_to projects_path do %>
            <span><%= t('navbar.projects') %><i class="ion-ios-arrow-forward"></i></span>
            <% end %>
            <span><%= @project_title.length <= 100 ? @project_title : @project_title[0..100] %><i class="ion-ios-arrow-forward"></i></span>

          </p>
          <h3 class="mb-0 bread text-white"><%= @project_title.length <= 100 ? @project_title : @project_title[0..100] %></h3>
        </div>
      </div>
    </div>
  </section>

<!-- Container (notice the relative width) :  -->
<div class="row">
  <div class="col" id="container2" style="width: 80%; max-width:1000px; height: 600px; background-image: url(<%= rails_blob_url(@project_image)%>); margin:auto;"></div>
  <div class="col" id="example3">
    <% @project.pictures.each do |picture| %>
      <%= link_to picture, class:"chocolat-image" do %>
        <%= image_tag(picture, style:"width: 150px; height:75px", alt:"")%>
      <% end %>
    <% end %>
    <hr>
    <p><%= simple_format @project_desc %></p>
  </div>
</div>
<%= render 'layouts/footer' %>




  <script>
    // standard demos
    Chocolat(document.querySelectorAll('#example0 .chocolat-image'), {
        imageSize: 'contain',
    })

    Chocolat(document.querySelectorAll('#example1 .chocolat-image'), {
        loop: true,
        imageSize: 'cover',
        overlayOpacity: 0.9
    })

    Chocolat(document.querySelectorAll('#example2 .chocolat-image'), {
        container: document.querySelector('#container1'),
        imageSize: 'contain',
        loop: true,
    })

    Chocolat(document.querySelectorAll('#example3 .chocolat-image'), {
        container: document.querySelector('#container2'),
        imageSize: 'cover',
    })
    Chocolat(document.querySelectorAll('#example4 .chocolat-image'), {
        imageSize: 'contain',
    })
</script>
<script>
    // api demo
    var instance = Chocolat([
            {src : 'demo-images/1.jpg', title : 'caption 1'},
            {src : 'demo-images/6.jpg', title : 'caption 2'},
            {src : 'demo-images/8.jpg', title : 'caption 3'},
        ], {
        setTitle : function () { return 'set title' },
        loop: true,
        imageSize : 'contain',
        container: document.querySelector('#container3'),
        afterMarkup: function () {
            console.log('afterMarkup hook is called')
        },
        afterImageLoad: function () {
            console.log('afterImageLoad hook is called')
        },
        afterInitialize: function () {
            console.log('afterInitialize hook is called')
        },
        zoomedPaddingX: function (imgWidth, canvasWidth) {
            // add a padding around the zoomed image
            // default to 0
            return canvasWidth / 4;
        },
        zoomedPaddingY: function (imgHeight, canvasHeight) {
            // add a padding around the zoomed image
            // default to 0
            return canvasHeight / 4;
        }
    });
    document.querySelector('.api-open').addEventListener('click', function(e) {
        e.preventDefault()

        console.log('open start');
        var promise = instance.api.open()

        promise.then(function(){
            console.log('open done');
        })
    })

    document.querySelector('.api-close').addEventListener('click', function(e) {
        e.preventDefault()

        console.log('close start');
        var promise = instance.api.close()

        promise.then(function(){
            console.log('close done');
        })
    })
    document.querySelector('.api-prev').addEventListener('click', function(e) {
        e.preventDefault()

        console.log('prev start');
        var promise = instance.api.prev()

        promise.then(function(){
            console.log('prev done');
        })
    })
    document.querySelector('.api-next').addEventListener('click', function(e) {
        e.preventDefault()

        console.log('next start');
        var promise = instance.api.next()

        promise.then(function(){
            console.log('next done');
        })
    })

    document.querySelector('.api-cover').addEventListener('click', function(e) {
        e.preventDefault()

        console.log('cover mode start')
        instance.api.set('imageSize', 'cover')
        var promise = instance.api.position()

        promise.then(function(){
            console.log('cover mode done')
        })
    })

    document.querySelector('.api-contain').addEventListener('click', function(e) {
        e.preventDefault()

        console.log('contain mode start')
        instance.api.set('imageSize', 'contain')
        var promise = instance.api.position()

        promise.then(function(){
            console.log('contain mode done')
        })
    })
</script>
</body>
