<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="/products/products.css">
</head>
<body>
  <%= render '/products/navbar/navbar' %>
  <%= render 'lang/lang' %>

    <div class="parallax3">



<div class="rounded" style="background: white;"><center><h1 style="color: #AC172B; font-family: ArbatC;"><%= t('factory.our_production')%></h1></center></div>
      <% @categories.each do |category| %>

        <div class="sticky-top rounded" style="background: #AC172B; z-index: 8;"><br><br><br><center>
          <h1 style="font-family: ArbatC; color: white;"><%= category.title_ru %><center></h1>
        </div>

        <div class="post-wrap rounded" style="background: RGB(139, 69, 19, 0.5);">
          <% category.products.each do |product| %>
          <div class="post-item">
          <div class="post-item-wrap">

            <%= link_to product_path(product), class:'post-link' do %>
            <% if product.picture.attached? %>
              <%= image_tag(product.picture) %>
            <% else %>
              <%= image_tag(@nophoto.no_picture) %>
            <% end %>

          <div class="post-info">
          <div class="post-meta">

          </div>
          <h1 class="post-title" style="color: red; font-family: tilda-script-regular;"><%= product.title_ru %></h1>
          </div>
          <% end %>

          </div>
          </div>
          <br><br><br><br><br>
          <% end %>




        </div>



      <% end %>







    <%= render 'factories/footer' %>
    </div>
</body>
