<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <%= render '/products/navbar/navbar' %>
  <%= render 'lang/lang' %>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <center>
      <h1 style="font-family: tilda-script-regular; color: #AC172B; font-size: 100px;">
        <%= @product.title_ru %>
      </h1>
    </center>
  </div>

<h1></h1>
  <% @product.dependproducts.each do |depend| %>
    <%= depend.title_ru %>
  <% end %>
  <%= render 'factories/footer' %>
</body>
