<footer class="footer">
  <div class="container-fluid px-lg-5">
    <div class="row">
      <div class="col-md-9 py-5">
        <div class="row">


        </div>
        <div class="row mt-md-5">
          <div class="col-md-12">
            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        BURKUT &copy;<%= Time.now.year %> <%= t('footer.rights') %> | <%= t('footer.templates_made') %> <i class="ion-ios-heart" aria-hidden="true"></i> <%= t('footer.by') %> <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
        <h2 class="footer-heading"><%= t('contact.write') %></h2>
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class:'form-control', placeholder: t('contact.name')%>
          </div>
          <div class="form-group">
            <%= f.text_field :email, class:'form-control', placeholder: t('contact.mail')%>
          </div>
          <div class="form-group">
            <%= f.text_field :phone, class:'form-control', placeholder: t('contact.sales_phone'), value:"+"%>
          </div>
          <div class="form-group">
            <%= f.text_area :message, class:'form-control', placeholder: t('contact.message'), rows:"3", cols:"30" %>
          </div>
          <div class="form-group">

            <%= f.submit 'Отправить', class:'form-control submit px-3' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</footer>
